.form
  .form__title Wybierz date
  form.form__form(action="" method="" enctype="multipart/form-data")
    .form__item
      .form__name Od
      input.form__input(id="since" required)
    .form__item
      .form__name Do
      input.form__input(id="to" required)
    button.form__button Wyślij